/* Базовые */

body {
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}

.button:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-wrapper {
  width: 1440px;
  padding: 0 140px;
  margin: 0 auto;
}

/* Заголовок */

.page-header {
  padding-top: 49px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  min-height: 65px;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation .navigation-item {
  position: relative;
  top: 9px;
  left: -1px;
}

.site-navigation .navigation-item-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 10px;
}

.site-navigation .navigation-item-link:hover {
  color: #fb565a;
}

.site-navigation .navigation-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 10px;
}

.site-navigation:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 438px;
  margin-left: 202px;
}

.site-navigation:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 115px;
}

.cart-icon {
  position: relative;
  top: -6px;
  left: 20px;
}

.cart-icon::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 2px;
  background-image: url("../img/cart-icon.svg");
  width: 15px;
  height: 15px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider .inner {
  overflow: hidden;
}

.slide .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  padding-bottom: 127px;
}

.slider .slides {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.8s ease;
}

.slider .slide {
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.slider .slide-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-position-y: -10px;
  background-position-x: 397px;
}

.slider .slide-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-position-y: 0;
  background-position-x: 400px;
}

.slider .slide-3 {
  background-image: url("../img/nerds-index-slide3.png");
}

.slider .slide-1 .content {
  width: 376px;
}

.slider .slide-2 .content {
  width: 515px;
}

.slider .slide-3 .content {
  width: 408px;
}

.slider .caption {
  position: relative;
  top: 22px;
  left: 2px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000;
  margin-bottom: 28px;
}

.slider .description {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;
  margin-top: 20px;
  margin-bottom: 42px;
  width: 409px;
}

.slider .button-slider {
  position: absolute;
  top: 292px;
  width: 240px;
  padding: 16px 42px 16px 40px;
  color: #fff;
  background-color: #fb565a;
}

.slider .button-slider:hover {
  background-color: #e74246;
}

.slider .button-slider:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slider .controls {
  position: absolute;
  top: 308px;
  left: 527px;
  margin-bottom: 10px;
  text-align: center;
}

.slider .controls .label {
  display: inline-block;
  margin: 0 8px;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}

#slider-radio-1:checked ~ .controls .label[for="slider-radio-1"],
#slider-radio-2:checked ~ .controls .label[for="slider-radio-2"],
#slider-radio-3:checked ~ .controls .label[for="slider-radio-3"] {
  border: 5px solid #fff;
  background-color: #cecece;
}

#slider-radio-1:checked ~ .inner .slides {
  transform: translate(0);
}

#slider-radio-2:checked ~ .inner .slides {
  transform: translate(-1160px);
}

#slider-radio-3:checked ~ .inner .slides {
  transform: translate(-2320px);
}

.slider .slider-radio {
  display: none;
}

.promo-wrapper {
  padding: 80px 60px 80px 0;
  min-height: 507px;
  border-bottom: 2px solid #eee;
}

.promo .promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-list .promo-list-item {
  width: 300px;
}

.promo .figure {
  padding: 0;
  margin: 0;
}

.promo .caption {
  margin-top: 19px;
  font: inherit;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #000;
  line-height: 30px;
  text-transform: uppercase;
}

.promo .description {
  width: 250px;
  font: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #283136;
}

.promo .button-order {
  margin-top: 16px;
  max-width: 160px;
  padding: 16px 60px 16px 40px;
  color: #fff;
}

.promo .button-order:active {
  color: rgba(255, 255, 255, 0.3);
}

.promo .button-order-red {
  background-color: #fb565a;
}

.promo .button-order-red:hover {
  background-color: #e74246;
}

.promo .button-order-red:active {
  background-color: #d7373b;
}

.promo .button-order-green {
  background-color: #00ca74;
}

.promo .button-order-green:hover {
  background-color: #00bc6c;
}

.promo .button-order-green:active {
  background-color: #00aa62;
}

.promo .button-order-yellow {
  background-color: #efc84a;
}

.promo .button-order-yellow:hover {
  background-color: #eab534;
}

.promo .button-order-yellow:active {
  background-color: #e5a722;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #eee;
  padding-bottom: 62px;
}

.features-left {
  width: 650px;
}

.features-right {
  width: 360px;
}

.features-left .caption {
  margin-top: 72px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000;
}

.features-left .description {
  margin-top: -4px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;
}

.features-left .orders-text {
  margin-top: 39px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.features-left .orders {
  margin-top: -4px;
  margin-left: -4px;
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #283136;
}

.features-left .orders-item {
  margin-top: 31px;
}

.features-left .orders-item::before {
  position: absolute;
  margin-left: -35px;
  margin-top: 7px;
  background-color: red;
  width: 25px;
  height: 2px;
  content: "";
}

.features-right .figure {
  padding: 0;
  margin: 0;
}

.features-right .illustration {
  margin-top: 38px;
}

.features-right .caption {
  margin-top: 32px;
  margin-left: 17px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.features-right .list {
  position: relative;
  top: 58px;
  left: -8px;
  display: flex;
  justify-content: space-around;
}

.features-right .percentages {
  width: 93px;
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  color: #000;
}

.features-right .percent {
  position: absolute;
  font-size: 25px;
  top: -8px;
}

.features-right .percentages-text {
  margin-top: 37px;
  width: 105px;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #283136;
}

.partners {
  border-bottom: 2px solid #eee;
}

.partners .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners .partner {
  cursor: pointer;
  display: block;
  opacity: 0.2;
}

.partners .list-item:not(:first-child)::before {
  position: absolute;
  content: "";
  border: 1px solid #eee;
  width: 2px;
  height: 52px;
  margin-top: 64px;
  margin-left: -21px;
}

.partners .partner:hover {
  opacity: 1;
}

.partners .partner:active {
  opacity: 0.1;
}

.map {
  margin: 80px auto 0;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  min-height: 416px;
}

.map .content {
  display: flex;
  flex-wrap: wrap;
}

.map .description {
  padding: 34px 50px 47px 50px;
  position: relative;
  top: 54px;
  left: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 319px;
  min-height: 308px;
  background-color: #fff;
}

.map .caption {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.map .address,
.map .phone {
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #666666;
}

.map .phone {
  margin-top: 2px;
}

.map .button-map {
  margin-top: 37px;
  padding: 16px 25px 16px 25px;
  color: #fff;
  background-color: #fb565a;
}

.map .button-map:hover {
  background-color: #e74246;
}

.map .button-map:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.map .marker {
  position: relative;
  top: 89px;
  left: 365px;
  width: 367px;
  min-height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 217px;
}

.footer .socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
}

.socials .social {
  cursor: pointer;
  vertical-align: top;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.socials .social:hover {
  background-color: #e74246;
}

.socials .social:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.socials .social-icon {
  width: 79px;
  height: 79px;
}

.socials .social-icon:active {
  opacity: 0.3;
}

.socials .social-icon-vk {
  background: url("../img/vk-icon.svg") no-repeat center;
}

.socials .social-icon-facebook {
  background: url("../img/fb-icon.svg") no-repeat center;
}

.socials .social-icon-instagram {
  background: url("../img/insta-icon.svg") no-repeat center;
}

.slogan {
  margin-left: 139px;
}

.slogan .caption {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000;
}

.slogan .description {
  position: absolute;
  margin-top: -19px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* Страница магазина */

.page-header-catalog {
  min-height: 355px;
}

.header-text {
  margin-top: 68px;
  margin-left: -8px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: #000;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  width: 260px;
}

.filters .form-group {
  padding: 0;
  margin: 0;
  border: none;
}

/* Range */

.filters .range-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.range-group .range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-group .range-controls {
  position: relative;
  height: 79px;
  margin-bottom: 13px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-group .range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-group .range-controls .bar {
  height: 2px;
  background: #00ca74;
  margin-left: 0;
  width: 70%;
}

.range-group .range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-group .range-controls .toggle-min {
  left: 18px;
}

.range-group .range-controls .toggle-max {
  left: 160px;
}

.range-group .price-controls {
  font-size: 0;
}

.range-group .price-controls .label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.range-group .price-controls .input-price {
  width: 80px;
  padding: 10px 9px;
  margin-left: 9px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-group .price-controls .max-price {
  text-align: right;
}

/* Сетка */

.filters .grid-group {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}

.grid-group .radio {
  display: none;
}

.grid-group .label {
  position: relative;
  padding-top: 18px;
  margin-left: 36px;
  cursor: pointer;
}

.grid-group .label::before {
  position: absolute;
  content: "";
  background: url("../img/radio-off.svg") no-repeat;
  width: 25px;
  height: 25px;
  left: -35px;
  top: 14px;
  opacity: 0.4;
}

.grid-group .radio:nth-of-type(1):checked ~ .label[for="radio-1"]::before,
.grid-group .radio:nth-of-type(2):checked ~ .label[for="radio-2"]::before,
.grid-group .radio:nth-of-type(3):checked ~ .label[for="radio-3"]::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.grid-group .radio:nth-of-type(1):disabled ~ .label[for="radio-1"],
.grid-group .radio:nth-of-type(2):disabled ~ .label[for="radio-2"],
.grid-group .radio:nth-of-type(3):disabled ~ .label[for="radio-3"] {
  opacity: 0.3; /* по заданию 0.1, но сливается с фоном */
}

.grid-group .label:hover::before {
  opacity: 1;
}

/* Особенности */

.filters .features-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
  margin-bottom: 55px;
}

.features-group .checkbox {
  display: none;
}

.features-group .label {
  position: relative;
  padding-top: 18px;
  margin-left: 36px;
  cursor: pointer;
}

.features-group .label::before {
  position: absolute;
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat;
  width: 27px;
  height: 23px;
  left: -35px;
  top: 14px;
  opacity: 0.4;
}

.features-group .checkbox:nth-of-type(1):checked ~ .label[for="checkbox-1"]::before,
.features-group .checkbox:nth-of-type(2):checked ~ .label[for="checkbox-2"]::before,
.features-group .checkbox:nth-of-type(3):checked ~ .label[for="checkbox-3"]::before,
.features-group .checkbox:nth-of-type(4):checked ~ .label[for="checkbox-4"]::before,
.features-group .checkbox:nth-of-type(5):checked ~ .label[for="checkbox-5"]::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.features-group .checkbox:nth-of-type(1):disabled ~ .label[for="checkbox-1"],
.features-group .checkbox:nth-of-type(2):disabled ~ .label[for="checkbox-2"],
.features-group .checkbox:nth-of-type(3):disabled ~ .label[for="checkbox-3"],
.features-group .checkbox:nth-of-type(4):disabled ~ .label[for="checkbox-4"],
.features-group .checkbox:nth-of-type(5):disabled ~ .label[for="checkbox-5"] {
  opacity: 0.3; /* по заданию 0.1, но сливается с фоном */
}

.features-group .label:hover::before {
  opacity: 1;
}

/* Остальные фильтры */

.filters .caption,
.sort .caption {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.filters .caption-cost {
  padding-top: 55px;
}

.filters .label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filters .button-submit {
  width: 260px;
  padding: 16px 60px 16px 60px;
  color: #000;
  background-color: #eeeeee;
}

.filters .button-submit:hover {
  background-color: #dfdfdf;
}

.filters .button-submit:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/* Продукты */

.products .sort {
  display: flex;
  flex-wrap: wrap;
  padding-top: 53px;
  padding-bottom: 50px;
  align-items: center;
}

.products .sort .caption {
  width: 400px;
  margin: 0;
}

.products .sort .list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products .sort .arrow {
  position: relative;
  top: 3px;
  display: block;
  width: 11px;
  height: 10px;
}

.products .sort .arrow-up {
  background: url("../img/icon-up-dir.svg");
}

.products .sort .arrow-down {
  left: 10px;
  background: url("../img/icon-down-dir.svg");
}

.products .sort .sort-type {
  opacity: 0.3;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.products .sort .arrow-active {
  opacity: 1;
}

.products .sort .sort-type:hover {
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.6);
}

.products .sort .sort-type:active,
.products .sort .sort-type-selected {
  opacity: 1;
  color: #000;
}

.products {
  width: 760px;
  margin-left: 140px;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.product {
  width: 360px;
  min-height: 616px;
  cursor: pointer;
  margin-bottom: 30px;
}

.product .product-header {
  background: url("../img/browser.svg") no-repeat;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.product .product-header:hover {
  opacity: 1;
}

.product .button-product {
  max-width: 200px;
  padding: 19px 60px 19px 60px;
  background-color: #fb565a;
  color: #fff;
}

.product .button-product:hover {
  background-color: #e74246;
}

.product .button-product:active {
  background-color: #d7373b;
}

.product .text-block {
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  display: none;
}

.product .link {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000;
}

.product .link:hover {
  color: #fb565a;
}

.product .link:active {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

.product .description {
  font-size: 16px;
  text-align: center;
  color: #666666;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: -21px;
}

.pagination .list {
  width: 448px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination .button-small {
  font: inherit;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 15.5px;
  text-align: center;
  color: #000;
}

.pagination .button-small:hover {
  background-color: #dfdfdf;
}

.pagination .button-small:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination .button-small-selected {
  border: solid 3px #dbdbdb;
  background-color: #fff;
  color: #000;
}

.pagination .button-pagination {
  width: 260px;
  padding: 16px 60px 16px 60px;
  color: #000;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.write-us-popup {
  display: none;
}
