/* Базовые */

body {
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Стрелки */

a.arrow {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  font-size: 0;
}

.arrow::before {
  display: inline-block;
  vertical-align: top;
  border: 20px solid #000;
  border-right: 10px transparent;
  border-left: 10px transparent;
  content: "";
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.button {
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}

.button:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Заголовок */

.page-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  min-height: 65px;
  margin-left: 140px;
  margin-right: 140px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation .navigation-item {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 10px;
}

.site-navigation .navigation-item:hover {
  color: #fb565a;
}

.navigation-item-active,
.site-navigation .navigation-item:active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}

.site-navigation:first-of-type {
  display: flex;
  justify-content: space-between;
  width: 438px;
  margin-left: 202px;
}

.site-navigation:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 115px;
}

.cart {
  display: block;
}

.cart-icon {
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/cart-icon.svg");
  width: 15px;
  height: 15px;
}

.slider {
  background-color: #eeeeee;
  visibility: hidden;
}

.slider .slide-1 {
  background-image: url("../img/nerds-index-slide1.png");
}

.slider .slide-2 {
  background-image: url("../img/nerds-index-slide2.png");
}

.slider .slide-3 {
  background-image: url("../img/nerds-index-slide3.png");
}

.slider .caption {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000;
}

.slider .description {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;
}

.slider .button-slider {
  padding: 19px 60px 19px 40px;
  color: #fff;
  background-color: #fb565a;
}

.slider .button-slider:hover {
  background-color: #e74246;
}

.slider .button-slider:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.promo .promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo .caption {
  font: inherit;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #000;
  line-height: 30px;
  text-transform: uppercase;
}

.promo .description {
  font: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #283136;
}

.promo .button-order {
  max-width: 160px;
  padding: 19px 60px 19px 40px;
  color: #fff;
}

.promo .button-order:active {
  color: rgba(255, 255, 255, 0.3);
}

.promo .button-order-red {
  background-color: #fb565a;
}

.promo .button-order-red:hover {
  background-color: #e74246;
}

.promo .button-order-red:active {
  background-color: #d7373b;
}

.promo .button-order-green {
  background-color: #00ca74;
}

.promo .button-order-green:hover {
  background-color: #00bc6c;
}

.promo .button-order-green:active {
  background-color: #00aa62;
}

.promo .button-order-yellow {
  background-color: #efc84a;
}

.promo .button-order-yellow:hover {
  background-color: #eab534;
}

.promo .button-order-yellow:active {
  background-color: #e5a722;
}

.features-container {
  background-color: #fff;
}

.features-left .caption {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000;
}

.features-left .description {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;
}

.features-left .orders-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.features-left .orders {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #283136;
}

.features-right .caption {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.features-right .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-right .percentages {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  color: #000;
}

.features-right .percentages-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #283136;
}

.partners .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners .partner {
  opacity: 0.2;
}

.partners .partner:hover {
  opacity: 1;
}

.partners .partner:active {
  opacity: 0.1;
}

.map .caption {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.map .address,
.map .phone {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #666666;
}

.map .button-map {
  padding: 19px 60px 19px 40px;
  color: #fff;
  background-color: #fb565a;
}

.map .button-map:hover {
  background-color: #e74246;
}

.map .button-map:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.footer .socials {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials .social {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.socials .social:hover {
  background-color: #e74246;
}

.socials .social:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.socials .social-icon {
  width: 79px;
  height: 79px;
}

.socials .social-icon:active {
  opacity: 0.3;
}

.socials .social-icon-vk {
  background: url("../img/vk-icon.svg") no-repeat center;
}

.socials .social-icon-facebook {
  background: url("../img/fb-icon.svg") no-repeat center;
}

.socials .social-icon-instagram {
  background: url("../img/insta-icon.svg") no-repeat center;
}

.slogan .caption {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000;
}

.slogan .description {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* Страница магазина */

.header-text {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: #000;
}

.filters .form-group {
  border: none;
}

.filters .caption,
.sort .caption {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.filters .field {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filters .button-submit {
  max-width: 260px;
  padding: 19px 60px 19px 60px;
  color: #000;
  background-color: #eeeeee;
}

.filters .button-submit:hover {
  background-color: #dfdfdf;
}

.filters .button-submit:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.sort .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort .sort-type {
  opacity: 0.3;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sort .sort-type:hover {
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.6);
}

.sort .sort-type:active,
.sort .sort-type-selected {
  opacity: 0;
  color: #000;
}

.product {
  cursor: pointer;
}

.product .product-header {
  background: url("../img/browser.svg") no-repeat;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.product .product-header:hover {
  opacity: 1;
}

.product .button-product {
  max-width: 200px;
  padding: 19px 60px 19px 60px;
  background-color: #fb565a;
  color: #fff;
}

.product .button-product:hover {
  background-color: #e74246;
}

.product .button-product:active {
  background-color: #d7373b;
}

.product .text-block {
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
}

.product .link {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000;
}

.product .link:hover {
  color: #fb565a;
}

.product .link:active {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

.product .description {
  font-size: 16px;
  text-align: center;
  color: #666666;
}

.pagination .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination .button-small {
  font: inherit;
  cursor: pointer;
  min-width: 43px;
  min-height: 43px;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 15.5px;
  text-align: center;
  color: #000;
}

.pagination .button-small:hover {
  background-color: #dfdfdf;
}

.pagination .button-small:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination .button-small-selected {
  border: solid 3px #dbdbdb;
  background-color: #fff;
  color: #000;
}

.pagination .button-pagination {
  max-width: 200px;
  padding: 19px 60px 19px 40px;
  color: #000;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
