/* Базовые */

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;

  background-color: white;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Стрелки */

a.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0;
}

.arrow::before {
  display: inline-block;
  border: 20px solid #000000;
  border-right: 10px transparent;
  border-left: 10px transparent;
  content: "";
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

/* Заголовок */

.page-header {
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  color: black;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: black;
  padding-bottom: 10px;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}

.cart {
  display: block;
}

.cart-icon {
  display: inline-block;
  background-image: url('../img/cart-icon.svg');
  width: 15px;
  height: 15px;
}

.promo-list {
  list-style: none;
}

.promo-label {
  font: inherit;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: black;
  line-height: 30px;
  text-transform: uppercase;
}

.promo-description {
  font: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #283136;
}

.button-order {
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  color: white;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 3px;
}

.button-order:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-order-1 {
  background-color: #fb565a;
}

.button-order-1:hover {
  background-color: #e74246;
}

.button-order-1:active {
  background-color: #d7373b;
}

.button-order-2 {
  background-color: #00ca74;
}

.button-order-2:hover {
  background-color: #00bc6c;
}

.button-order-2:active {
  background-color: #00aa62;
}

.button-order-3 {
  background-color: #efc84a;
}

.button-order-3:hover {
  background-color: #eab534;
}

.button-order-3:active {
  background-color: #e5a722;
}

.footer-socials {
  display: block;
  list-style: none;
}

.footer-socials .social {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.footer-socials .social:hover {
  background-color: #e74246;
}

.footer-socials .social:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.footer-socials .social-icon {
  width: 79px;
  height: 79px;
}

.footer-socials .social-icon:active {
  opacity: 0.3;
}

.footer-socials .social-icon-vk {
  background: url('../img/vk-icon.svg') no-repeat center;
}

.footer-socials .social-icon-facebook {
  background: url('../img/fb-icon.svg') no-repeat center;
}

.footer-socials .social-icon-instagram {
  background: url('../img/insta-icon.svg') no-repeat center;
}

.footer-slogan h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: black;
}

.footer-slogan p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}
